.div.body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;


}